<?xml version='1.0' encoding='utf-8'?>
<widget id="com.suellen.appproducao" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloCordova</name>
    <description>Sample Apache Cordova App</description>
    <author email="suellenwmj@hotmail.com" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <content src="index.html" />
    <icon src="res/icon.png" />

    <preference name= "SplashScreen" value="screen" />
    <splash src="res/splash.png" />

    

    <preference name= "Fullscren" value="true" />
</widget>
